python-dotenv
requests
livekit[agents,rtc]

# LiveKit Plugins
livekit-plugins-cartesia
livekit-plugins-deepgram
livekit-plugins-silero
livekit-plugins-groq
livekit-plugins-noise-cancellation

# Turn Detector
livekit-plugins-turn-detector
